---
interface Props {
  titleJapanese: string;
  titleEnglish: string;
  headingLevel?: "h2" | "h3";
  align?: "left" | "center";
  textAlign?: "left" | "center";
  titleJapaneseColor?: "default" | "white";
}

const {
  titleJapanese,
  titleEnglish,
  headingLevel = "h2",
  align = "center",
  textAlign,
  titleJapaneseColor = "default",
} = Astro.props;

const HeadingTag = headingLevel;
const resolvedTextAlign = textAlign ?? align;
---

<div
  class:list={["section-heading", align === "left" && "section-heading--left"]}
>
  <p class="section-heading__background" aria-hidden="true">{titleEnglish}</p>
  <HeadingTag
    class:list={[
      "section-heading__title",
      resolvedTextAlign === "left" && "section-heading__title--align-left",
      resolvedTextAlign === "center" && "section-heading__title--align-center",
      titleJapaneseColor === "white" && "section-heading__title--white",
    ]}
    set:html={titleJapanese}
  />
</div>

<style lang="scss" is:global>
  @use "../styles/variables" as *;

  .section-heading {
    position: relative;
    margin-bottom: $spacing-lg;

    @media (max-width: $breakpoint-sp) {
      margin-bottom: $spacing-md;
      padding-top: $spacing-sm;
    }

    .section-heading__background {
      position: absolute;
      left: 60%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-family: $font-filmotype-lucky;
      font-size: 93px;
      line-height: 1;
      color: rgba($color-primary, 0.2);
      white-space: nowrap;
      pointer-events: none;
      z-index: 0;

      @media (max-width: $breakpoint-sp) {
        font-size: 48px;
      }
    }

    .section-heading__title {
      position: relative;
      z-index: 1;
      font-family: $noto-sans-jp;
      font-size: 32px;
      font-weight: $fw-bold;
      line-height: 1.5;
      color: $color-text;
      margin: 0;

      @media (max-width: $breakpoint-sp) {
        font-size: 22px;
        padding-top: $spacing-md;
      }

      &.section-heading__title--white {
        color: $color-white;
      }

      &.section-heading__title--align-left {
        text-align: left;
      }

      &.section-heading__title--align-center {
        text-align: center;
      }
    }

    &.section-heading--left {
      .section-heading__background {
        left: 0;
        transform: none;
      }
    }
  }
</style>
